<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="page allowing users to provide feedback about recommendations">
        <meta name="keywords" content="Weather, Clothes, Temperature">
        <meta name="author" content="Victor Radelytskyi">
        <meta name="theme-color" content="#dcdcdc">
        <link rel="stylesheet" href="/static/css/general.css">
        <link rel="stylesheet" href="/static/css/feedback.css">
        
    </head>

    <body>
        <header class="header">
            <div class="header-section">
                <nav class="nav">
                    <div class="nav-menu-cont">
                        <ul class="nav-menu-list">
                            <li><a href="/home">Home</a></li>
                            <li><a href="/recommendations">Recommendations</a></li>
                            <li><a href="/feedback">Feedback</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="main-content">
            <section class="content-section">
                <div class="section-introduction">
                    <h2> Did you check our <a href="/recommendations">recommendations</a> of what to wear?</h2>
                    <h4 class="introduction-desc">Let us know what you think!</h4>
                </div>
                <div class="section-main-info">
                    <form method="POST" action="/feedback/share" class="feedback-form">
                        <fieldset class="form-group">
                            <legend>Did you like our service?</legend>

                            <div class="radio-option">
                                <input type="radio" name="satisfaction" id="Yes" value="Yes" checked>
                                <label for="Yes">Yes</label>
                            </div>
                            <div class="radio-option">
                                <input type="radio" name="satisfaction" id="No" value="No">
                                <label for="No">No</label>
                            </div>
                        </fieldset>

                        <div class="form-group">
                            <label for="opinion-box">Your opinion</label>
                            <textarea
                                id="opinion-box"
                                name="feedback"
                                rows="4"
                                cols="100"
                                placeholder="Share your thoughts..."
                            ></textarea>
                        </div>
                        <input type="submit" class="submit-button"></button>
                    </form>
                </div>

                <div class="section-summary">
                    <a href="/home">Back home</a>
                </div>
            </section>
        </div>

        <footer class="footer">
            <div class="footer-section">
                <h4>Victor Radelytskyi</h4>
                <a href="#">About</a>
                <a href="#">Message me</a>
            </div>
            <div class="footer-section">
                <h4>Follow me</h4>
                <a href="#">GitHub</a>
                <a href="#">YouTube</a>
            </div>
        </footer>
    </body>
</html>